{% extends 'base.html' %} {% block content %}

<div id="programmers" class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Damaris Fregoso</h1>
      <img src=https://i.imgur.com/ZYMd2Bk.jpg">
      <h2>Manager/Programmer</h2>
      <h3>Full Stack Engineer</h3>
    </div>
    <div class="col-sm">
      <h1>Christus Martey</h1>
      <img src="https://i.imgur.com/twB9n58.jpg" />
      <h2>Programmer</h2>
      <h3>Full Stack Engineer</h3>
    </div>
    <div class="col-sm">
      <h1>Artin Simonian</h1>
      <img src=https://i.imgur.com/9PxtRK9.png>
      <h2>Programmer</h2>
      <h3>Full Stack Engineer</h3>
    </div>
  </div>
</div>
<div class="container" id="bio">
  <p>
    A social media platform exclusively for pets, offers a delightful space for
    pet owners to connect, share adorable moments, and build a vibrant community
    centered around their furry companions.
  </p>  
  <p>
    Many pet enthusiasts and animal
    lovers struggle to find a dedicated online platform that connects them with
    like-minded individuals. Our goal is to create a dedicated social media app
    that serves as the ultimate online destination for pet owners and lovers,
    where they can connect, share their passion for pets, and build a close-knit
    community.
  </p>
</div>

{% endblock %}
