{% extends 'base.html' %}
{% block content %}
<h1>FuzzyFriends</h1>
<a href="{% url 'post_create' %}">Add a Post</a>

{% for post in posts %}
<div>
  <img height="200px" width="200px" src="{{ post.image }}" alt="Image is unavailable">
  <p>{{ post.caption }}</p>

  {% if user in post.likes.all %}
  <p>Liked</p>
  <form action="" method="POST">
     {% csrf_token %}
    <button type="submit">heart❤️</button>
  </form>
  {% else %}
  <p>Not Liked</p>
  <form action="" method="POST">
    {% csrf_token %}
    <button type="submit">♡</button>
  </form>
  {% endif %}
  <p>Total Likes: {{post.likes.count}}</p>

  <p>{{ post.date }}</p>
</div>
<hr>
{% endfor %}

{% endblock %}