
body {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(163, 224, 255, 1) 47%,
    rgba(255, 255, 255, 1) 100%
  );
}

.main-card {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  margin: auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3%;
  background: #F5F5F5;
}

#col-one {
  text-align: center;
}

#col-one > p {
  font-size: 20px;
}

#col-one > img {
  border-radius: 10%;
  height: 200px;
  width: 300px;
}

#post > a {
  background-color: #2799c1;
  color: #fff;
  font-size: large;
}


#add-comment {
  font-size: 12px;
  margin-bottom: 2px;
  background-color: #2799c1;
}

#delete-comment {
  font-size: 12px;
}

#comments {
  height: 450px;
  width: 300px;
  padding: 2px;
  text-align: center;
}

.hr-one {
  border: solid #2799c1 2px;
}

#user-comment {
  text-align: left;
}

#comments-title{
   font-size: 20px; 
}

#pet-title{
    font-size: 20px;
}

#programmers img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 20px 0;
}

#programmers{
    text-align: center;
    display: flex;
    justify-content: center;
}

#post-page{
    padding: 5px;
    border: 2px solid #000;
    height: 320px;
    width: 250px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}



#pet-list{
    padding: 5px;
    border: 2px solid #000;
    height: 330px;
    width: 250px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

#sign-up{
    padding: 5px;
    width: 50%;
    margin: auto;
    border: #000 solid 2px;
    text-align: center;
}

#log-in{
    padding: 5px;
    width: 30%;
    margin: auto;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#delete-confirm{
  padding: 5px;
  width: 30%;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#add-pet-form{
  padding: 5px;
  width: 30%;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#edit-pet-form{
  padding: 5px;
  width: 30%;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

